**/build
**/Debug
**/Release
thirdparty/*
bin/*
lib/*
log/*
include/**
**/libvsoa/*
**/.cache/*
compile_commands.json
**/sylixos_build/*
/.metadata/
.vscode
base_a53/*
base_a53_ecs/**
base_aarch64/*
base_arma53/*
cloudnative_sdk/*
libboost/*
lwcommunicate/*
src/link_tracer/*
data/
workdir/*
/base_a53_ecs
